
.contact-section {
  padding: 80px 65px;
  display: flex;
  justify-content: center;
  background: #e6e6e6;
}


.contact-container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
}

/* HEADINGS */
.sub-heading {
  color: #ff8c00;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.main-heading {
  font-size: 32px;
  font-weight: 700;
  color: #23408e;
  line-height: 1.4;
  max-width: 900px;
  margin-bottom: 50px;
}

/* CONTENT FLEX */
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

/* IMAGE */
.contact-image-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-image {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

/* FORM */
.contact-form {
  flex: 1.2;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input {
  width: 100%;
  padding: 14px 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 14px 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  margin-bottom: 20px;
  font-size: 15px;
  resize: none;
}

/* BUTTON */
.send-btn {
  background: #23408e;
  color: white;
  padding: 14px 32px;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.send-btn:hover {
  background: #102b6b;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .contact-content {
    flex-direction: column;
    text-align: center;
  }
  .form-row {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .main-heading {
    font-size: 26px;
  }
  .contact-form {
    padding: 25px;
  }
}
