.banner-img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(70%);
}

.banner-text {
  position: absolute;
  top: 65%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
}

.banner-text h1 {
  font-size: 55px;
  font-weight: 800;
}

@media (max-width: 768px) {
  .banner-text h1 {
    font-size: 32px;
  }
}
