:root{
  --primary: #007bff;
  --accent: #ffc107;
}

html,body,#root{
  height:100%;
}
body{
  margin:0;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background:#f8f9fa;
  scroll-behavior: smooth;
  -webkit-font-smoothing:antialiased;

  overflow-x: hidden !important;
}
a { text-decoration: none; }
.container { max-width: 1140px; }
